/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext'); */
:root {
    --font-fam: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about {
    /* color: white; */
    font-family: var(--font-fam);
    margin-left: 25px;
}

.contact {
    font-family: var(--font-fam);
    margin-left: 25px;
}

.skills {
    font-family: var(--font-fam);
    margin-left: 25px;
}

p {
    /* color: white; */
    font-family: var(--font-fam);
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 700;
}

p span {
    color: rgb(0, 160, 0);
    font-size: 13px;
    font-weight: 900;
}

p a {
    color: black;
    text-decoration: none;
}

ul {
    margin-left: 20px;
    font-family: var(--font-fam);
    font-weight: 700;
}

ul li {
    margin-top: 10px;
}



@media only screen and (max-width: 775px) {
    .about {
        font-size: 20px;
    }

    p {
        font-size: 10px;
        margin-top: 10px;
    }

    p span {
        font-size: 7px;
    }

    .contact {
        font-size: 20px;
    }

    .skills {
        font-size: 20px;
    }

    ul {
        font-size: 10px;
        margin-left: 7px;
    }
}


@media only screen and (max-width: 550px) {
    .about {
        font-size: 16px;
    }

    .about-me {
        margin-left: 15px;
        margin-right: 10px;
        font-size: 7px;
    }

    .address{
        margin-right: 10px;
    }

    p {
        font-size: 6px;
        margin-top: 10px;
    }

    p span {
        font-size: 5px;
    }

    .contact {
        font-size: 16px;
    }

    .skills {
        font-size: 16px;
    }

    ul {
        font-size: 8px;
        margin-left: 4px;
    }

    ul li {
        margin-top: 3px;
    }
}